@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  box-sizing: border-box; /*so padding and border doesnt effect the width and height of the element*/
}

body {
  margin: 0;
  min-height: 100vh; /* we need to assign a height so the items knows where to center*/
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.chuck-sticker {
  margin-top: -50px;
}
h1 {
  font-size: 67px;
  font-family: "Bangers", cursive;
}
.search {
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
}
