@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Patua+One&display=swap");
* {
  box-sizing: border-box; /*so padding and border doesnt effect the width and height of the element*/
}

body {
  margin: 0;
  min-height: 100vh; /* we need to assign a height so the items knows where to center*/
  background-color: black;
  color: white;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 3px;
}
.chuck-sticker {
  margin-top: -50px;
}
h1 {
  font-size: 67px;
  font-family: "Bangers", cursive;
  margin-top: 20px;
  color: white;
}
.jokes-word {
  display: block;
  text-align: center;
}
.container {
  text-align: center;
}
label {
  font-size: 27px;
  font-family: "Patua One", cursive;
  color: #2972fa;
  margin-top: 10px;
}
#category {
  width: 500px;
}
button {
  color: white;
  margin-top: 20px;
}

ul {
  color: #faca15;
}
